#dropmenudiv{
position:absolute;
border:1px solid black;
border-bottom-width: 0;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
}

#dropmenudiv a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid black;
padding: 1px 0;
text-decoration: none;
font-weight: bold;
}

#dropmenudiv a:hover{ /*hover background color*/
background-color: yellow;
}

a.Pitman{
	text-decoration: none;
	color: #0000FF 
}

a.PlanetMath{
	text-decoration: none;
	color: #000066;
}

a.MathWorld{
	text-decoration: none;
	color: #000066;
